<h1>Contact Us</h1>

<%= form_tag contact_path do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div>
    <%= label_tag :message %>
    <%= text_area_tag :message %>
  </div>
  <%= submit_tag "Contact Us!" %>
<% end %>
